
# Build and artifacts
build/
build*/
tests/build/
tests/build*/
tests/**/ndd_filter_test

# OS Trash
.DS_Store
*.dSYM/
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
history.db

# Web App specific (allow our project frontend, ignore generic placeholders)
# We want to keep the ai-debugging-app folder clean
.env

# VS Code
.vscode/

# Endee specific (ignore default data folders if they collide)
# data/
# data/*
